bin/Debug/netcoreapp3.1/MPlay.deps.json
bin/Debug/netcoreapp3.1/MPlay.dll
bin/Debug/netcoreapp3.1/MPlay.exe
bin/Debug/netcoreapp3.1/MPlay.pdb
bin/Debug/netcoreapp3.1/MPlay.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/MPlay.runtimeconfig.json
bin/Debug/netcoreapp3.1/NAudio.dll
bin/Debug/netcoreapp3.1/System.Resources.Extensions.dll
obj/MPlay.csproj.nuget.dgspec.json
obj/MPlay.csproj.nuget.g.props
obj/MPlay.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/Mplay.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Mplay.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/MPlay.assets.cache
obj/Debug/netcoreapp3.1/MPlay.csproj.CopyComplete
obj/Debug/netcoreapp3.1/MPlay.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/MPlay.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/MPlay.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/MPlay.dll
obj/Debug/netcoreapp3.1/MPlay.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/MPlay.pdb
